DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root123

DB_NAME_AUTENTICACION=auth_db
DB_NAME_USUARIOS=usuarios_db
DB_NAME_PACIENTES=pacientes_db
DB_NAME_MEDICOS=medicos_db
DB_NAME_CITAS=citas_db
DB_NAME_HISTORIALES=historiales_db

JWT_SECRET_KEY=tu_clave_secreta_muy_segura_cambiar_en_produccion
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24

ORIGEN_FRONTEND=http://localhost:3000

DEBUG=True
ENVIRONMENT=development

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=clinica
